<h1>app Piano buena onda</h1>
<div class="row">
 <div class="col-lg-4">
 <div class="list-group">
    <a href="#" (click)="aplicarsonido(1)" class="list-group-item list-group-item-action"> Do </a>  
    <a (click)="aplicarsonido(2)" class="list-group-item list-group-item-action list-group-item-primary"> Re </a>
    <a (click)="aplicarsonido(3)" class="list-group-item list-group-item-action list-group-item-secondary"> Mi </a>
    <a (click)="aplicarsonido(4)" class="list-group-item list-group-item-action list-group-item-success"> Fa </a>
    <a (click)="aplicarsonido(5)" class="list-group-item list-group-item-action list-group-item-danger"> Sol </a>
    <a (click)="aplicarsonido(6)" class="list-group-item list-group-item-action list-group-item-warning"> La </a>
    <a (click)="aplicarsonido(7)" class="list-group-item list-group-item-action list-group-item-info"> Si </a>
  </div>
</div>
</div>
  <audio controls>
    <source src="../assets/audio/do-80236.mp3">
  </audio>